body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../logoapp.png) center;
}

/* Cabeçalho */
header {
  background-color: #65b7cc;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background 0.3s;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Conteúdo Principal */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.introducao {
  background: rgba(255, 255, 255, 0.342);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.botao {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #0fb0d8;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.botao:hover {
  background-color: #65b7cc;
}

/* Rodapé */
footer {
  background: #65b7cc;
  text-align: center;
  padding: 0.8rem;
  font-size: 14px;
  color: white;
}
